<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bigboss</title>
    <link rel="icon" href="https://sandaruwan-img-host.pages.dev/88976667.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="d-flex justify-content-center vh-100 align-items-center">
        <div class="col-md-3 mb-5">
            <div class="card" style="width: 18rem">
                <img src="https://sandaruwan-img-host.pages.dev/88976667.png" class="card-img-top" alt="Image" />
                <div class="card-body bg-dark">
                    <h5 class="card-title text-center" style="color:green">Online</h5>
                </div>
            </div>
        </div>
</body>
</html>

